[project]
	description = MyRepo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/atulcalsoft
[access "refs/for/refs/*"]
	read = group user/atulcalsoft
	push = group user/atulcalsoft
	label-Code-Review = -2..+2 group user/atulcalsoft
	label-Verified = -1..+1 group user/atulcalsoft
	rebase = group user/atulcalsoft
	removeReviewer = group user/atulcalsoft
	submit = group user/atulcalsoft
[access "refs/heads/*"]
	read = group user/atulcalsoft
	create = group user/atulcalsoft
	push = +force group user/atulcalsoft
	pushMerge = group user/atulcalsoft
[access "refs/tags/*"]
	push = +force group user/atulcalsoft
	pushTag = group user/atulcalsoft
	pushSignedTag = group user/atulcalsoft
